@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
/* CSS Reset */
:root {
  --primary-color: #00d4ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
  --clr-primary: #651fff;
  --clr-gray: #37474f;
  --clr-gray-light: #b0bec5;
}
body {
  overflow-x: hidden;
}
/* Scroll Smooth */
nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 85px;
  background: #fff;
  z-index: 200;
}

nav .navbar {
  display: flex;
  height: 100%;
  max-width: 1700px;
  justify-content: space-between;
  margin: 0 75px;
  align-items: baseline;
  padding: 0px 30px;
}

nav .navbar .logo a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  font-size: 3rem;
}

nav .navbar .nav-links {
  height: 100%;
  line-height: 20px;
}

nav .navbar .nav-links .menus li {
  display: flex;
  position: relative;
  align-items: center;
  list-style: none;
  padding: 0 10px;
}
nav .navbar .nav-links .menus {
  display: flex;
}

nav .navbar .nav-links .menus li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  white-space: nowrap;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 1.8rem;
  margin-top: 15px;
}
nav .navbar .nav-links .menus li:hover > .line {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.line {
  position: relative;
  width: auto;
  text-align: center;
  order: 3;
}
.line:after {
  content: "";
  display: block;
  position: absolute;
  left: calc(50px * 0.4);
  right: calc(50px * 0.4);
  bottom: 12%;
  pointer-events: none;
  height: 2px;
  width: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0;
  opacity: 0;
  z-index: 5;
  background: gray;
  transition: all 0.3s;
}
.line:hover:after {
  opacity: 1;
  width: 50%;
  background: #00d4ff;
}

.navbar .nav-links .menus .sub-menu {
  position: absolute;
  top: 66px;
  line-height: 20px;
  left: 10px;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 0 0 5px 5px;
  display: none;
  z-index: -0.5;
}

.navbar .nav-links .menus .sub-menu li {
  padding: 0 20px;
  width: 100%;
  padding-bottom: 10px;
}

.navbar .nav-links .menus .sub-menu li a {
  font-size: 1.5rem;
}
.navbar .nav-links .menus li:hover .sub-menu {
  display: block;
}
.navbar .nav-links .menus .sub-menu li a:hover {
  background: white;
  box-shadow: none;
}

.pnt {
  position: relative;
  text-align: start;
  order: 3;
}
.pnt:after {
  position: absolute;
  content: "";
  top: 20px;
  left: 0px;
  background: gray;
  opacity: 0;
  transition: all 0.3s;
  display: block;
  bottom: 12%;
  pointer-events: none;
  height: 2px;
  width: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0;
}
.pnt:hover:after {
  opacity: 1;
  width: 10px;
  background: #00d4ff;
}

.navbar .fa-bars,
nav .navbar .nav-links .sidebar-logo .logo-name,
nav .navbar .nav-links .sidebar-logo .fa-times {
  font-size: 30px;
  font-weight: 700;
  display: none;
}

nav .navbar .nav-links .menus li > .contact-btn {
  background-color: #00d4ff;
  color: white;
}

nav .navbar .nav-links .menus li > .contact-btn:hover {
  box-shadow: 0 0 0 4em #00d4ff inset, 0 5px 15px rgb(0 0 0 / 10%);
  transform: translateY(-1px);
}

/* navbar media query */
@media (max-width: 888px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 25px;
    margin: 10px 10px;
  }
  nav .navbar .nav-links {
    display: block;
    position: fixed;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    top: 0;
    left: -100%;
    max-width: 270px;
    width: 100%;
    transition: left 0.3s ease-in;
  }

  nav .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    line-height: 40px;
  }

  .navbar .fa-bars,
  nav .navbar .nav-links .sidebar-logo .logo-name,
  nav .navbar .nav-links .sidebar-logo .fa-times {
    display: block;
    transition: transform 0.25s, opacity 0.25s;
    cursor: pointer;
  }

  .fa-times:hover {
    opacity: 1;
    transform: rotate(90deg);
  }

  nav .navbar .nav-links .menus {
    display: block;
    margin-top: 20px;
  }

  nav .navbar .nav-links .menus li {
    display: block;
    line-height: 40px;
  }

  nav .navbar .nav-links .menus .sub-menu {
    display: none;
    position: relative;
    top: 0;
    left: 0;
  }

  .navbar .nav-links .menus .sub-menu li {
    line-height: 30px;
  }
}

.contact2 {
  background-image: url(img/blobthebuilder.jpg);
  background-position: right;
  background-repeat: no-repeat;
  height: 900px;
  margin-bottom: 90px;
}

.header-img {
  background-image: url(img/contact-bg.jpg);
  width: 100%;
  height: 800px;
  background-position: cover;
  margin-bottom: 90px;
}

.grid-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  max-width: 1100;
  margin: 0 auto;
  overflow: auto;
  padding: 0 90px;
}
.container-sv {
  max-width: 1100;
  margin: 0 auto;
  overflow: auto;
  padding: 30px 90px;
  border-top: 1px solid black;
}
.container-sv p {
  font-size: 16px;
}
.container-serv {
  margin-top: -900px;
  max-width: 1100;
  margin: 0 auto;
  overflow: auto;
  padding: 0 400px;
}

.desc-services {
  margin-top: -30px;
  background: #d6edff;
  z-index: 3;
}

.card-contact {
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  box-shadow: 0px 10px 30px 0px rgb(154 150 248 / 20%);
  padding: 900px;
  margin: 90px;
}
.contact-form {
  position: relative;
  top: 60px;
  height: 643px;
  width: 673px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
}
.contact-form .form-control {
  margin: 30px 0;
}
.contact-form input:focus {
  outline: none;
}
.contact-form input[type="text"],
.contact-form input[type="email"] {
  border: 0;
  box-shadow: 0px 10px 30px 0px rgb(154 150 248 / 20%);
  background-color: #c8f6ff;
  border-radius: 30px;
  width: 100%;
  padding: 10px 5px;
  font-size: 16px;
}
.grid-3 {
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}
.grid-33 {
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}
.grid-r3 {
  display: grid;
  grid-template-rows: repeat(4, 1fr);

  grid-row-gap: 10px;
}
.mar {
  margin: 20px 0;
}

.card-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-cont i {
  color: #00d4ff;
  font-size: 40px;
}
.card-cont h4 {
  font-size: 30px;
}
.card-cont p {
  font-size: 16px;
}
.contact-text .subhead {
  font-size: 16px;
}

.contact-text .headings {
  padding-bottom: 90px;
}
.contact-form h2 {
  font-size: 50px;
  padding: 40px 0;
  font-weight: 600;
}


.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 2rem;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 3rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: rgb(0, 0, 0);
}
.footsvg {
  margin-bottom: -212px;
}
.footer-bottom {
  background: #00d4ff;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 2rem;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.6;
  font-weight: 200;
  color: #5249d8;
}
/* fotter end */
.services-sec {
  background-image: url(img/blobthebuilder.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 800px;
  background-position: center;
}
.services-text {
  background: url(img/headingblob.png);
  background-repeat: no-repeat;
  transform: translateX(-50%);
  padding: 0 100px;
}
/* .services-text2 {
  padding: 0 100px;
} */
.services-text2 h1 {
  overflow: visible;
  font-size: 40px;
  padding-top: 30px;
  /* border-bottom: 1px solid black; */
}
.services-text2 p {
  padding-top: 20px;
  font-size: 16px;
  padding-bottom: 20px;
}
.txt-serv {
  display: flex;
}

.services-text h1 {
  overflow: visible;
  font-size: 40px;
  padding-bottom: 60px;
  padding-top: 50px;
}
.services-text p {
  padding-bottom: 30px;
  font-size: 16px;
}

.service-img {
  transform: translateX(50%);
}

.service-img img {
  height: 400px;
  width: 600px;
  border-radius: 25% 5% 25% 5%;
  box-shadow: 0px 10px 30px 0px rgb(154 150 248 / 20%);
}
.serviceimg-right img {
  /* background-image: url(img/services11.jpg); */
  background-size: cover;
  /* position: absolute;
  top: 0;
  right: 0; */
  background-position: right;
  height: auto;
  width: 100%;
  margin-top:133px;
  /* box-shadow: 0px 10px 30px 0px rgb(154 150 248 / 20%); */
  overflow: hidden;
}
.flox {
  display: flex;
}
.wave-services {
  margin-top: -450px;
}
.wave-services img {
  width: 100%;
  z-index: 2;
}

.services-text,
.service-img {
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  opacity: 0;
}

.services-text.appear,
.service-img.appear {
  transform: translateX(0);
  opacity: 1;
}

.head-img2 {
  background-image: url(img/head3.jpg);
  background-size: cover;
  background-position: 0%;
  opacity: 80%;
  z-index: -2;

  height: 800px;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.head-img {
  background-image: url(img/servicesbg.jpg);
  background-size: cover;
  background-position: 0%;
  opacity: 80%;
  z-index: -2;

  height: 800px;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.head-img h1,
.head-img2 h1 {
  color: black;
  font-size: 80px;
  width: 700px;
  margin-top: 110px;
  padding-left: 50px;
}
.contentserv {
  background-image: url(img/headingblob.png);
  background-size: cover;
  background-position: 0%;
  opacity: 80%;

  height: 400px;
  width: 800px;
}
/* services page end */
/* services pages */
.containers {
  max-width: 1100;
  margin: 0 auto;
  overflow: auto;
}
/* services pages end */
.mapsec{
  width: 100%;
  height: 600px;
}
#map {
  height: 60vh;
}
